/* Background color */
#color {
  background-color: #808080;
 
}
/* END */
/* Title of game */
#title {
  color: darkgreen;
  position:fixed;
  font-family:cursive;
  font-size:30px;
}
/* END */
/*Haunted house image*/
#haunted {
  position:fixed;
  left:280px;
  
}
/*List of buttons */
#game {
  left:425px;
  margin-top:410px;
  position:fixed;
}
#help {
  position:fixed;
  margin-left:445px;
    margin-top:450px;

  
}
/* END */
/*Ghosts in the title screen */
#ghost {
  margin-top:120px;
  position:fixed;
}
#ghost2 {
  margin-left:650px;
  margin-top:100px;
  position:fixed;
}
/* END */
/* Levels */
#firstlevel {
   width:100%;
    height:100%;
 top:0px;
    left:0px;
position:fixed;
display:none;
}
#secondlevel {
   width:100%;
    height:100%;
 top:0px;
    left:0px;
position:fixed;
display:none;
}
/* END */
/* First levels' items CSS */
#clock {
  position:fixed;
  height:50px;
  width:50px;
  margin-top:130px;
  margin-left:300px;
  display:none;
}
#ring {
  position:fixed;
  height:20px;
  width:20px;
  margin-top:545px;
  display:none;
}
#magnifyingglass {
  height:30px;
  width:30px;
  margin-left:600px;
  margin-top:300px;
  position:fixed;
  display:none;
}
#hammer {
  margin-left:760px;
  margin-top:490px;
  height:60px;
  width:60px;
  position:fixed;
  display:none;
}
/* END */
/* Border for the item list */
#indicator {
  border:1px solid black;
  height:100px;
  width:300px;
  margin-left:712px;
  margin-top:556px;
  position:fixed;
  font-family:cursive;
  color:yellow;
  text-align:center;
 z-index:1;
 display:none;
}
#indicator:hover {
  background-color:purple;
}
/*Listed items for lvl1 */
#clocklist {
  position:fixed;
  height:50px;
  width:50px;
  margin-top:600px;
  margin-left:730px;
  z-index:2;
display:none;
}
#ringlist {
  position:fixed;
  height:40px;
  width:40px;
  margin-top:610px;
margin-left:790px;
  z-index:2;
  display:none;
}
#magnifyingglasslist {
  height:40px;
  width:40px;
  margin-left:840px;
  margin-top:600px;
  position:fixed;
  z-index:2;
 display:none; 
}
#hammerlist {
  margin-left:890px;
  margin-top:590px;
  height:60px;
  width:60px;
  position:fixed;
    z-index:2;
 display:none;
}
/* END */
#complete {
  
  margin-top:580px;
  position:fixed;
  font-size:60px;
  color:yellow;
  display:none;
} 
#complete:hover {
  color:black;
}
.nextlevel {
  margin-left: 400px;
  margin-top:400px;
  position:fixed;
  display:none;
}
/* Second level's items */
#guitar {
  position:fixed;
  margin-top:500px;
  margin-left:300px;
  height:60px;
  width:60px;
 
}
#microphone {
  position:fixed;
  height:40px;
  width:40px;
  margin-left:820px;
  margin-top:490px;
}
#glue {
  position:fixed;
  height:29px;
  width:20px;
  margin-left:100px;
  margin-top:100px;
}
#fishingpole {
  position: fixed;
  height:60px;
  width:60px;
  margin-left:530px;
  margin-top:190px;
}
#footballhelmet {
  position:fixed;
  height:50px;
  width:50px;
  margin-left:350px;
  margin-top:200px;
}
/* END */
/*Second level's LIST of items */
#guitarlist {
  position:fixed;
  margin-left:720px;
  margin-top:580px;
  height:70px;
  width:70px;
  z-index:1;
  
}
#microphonelist {
position:fixed;
margin-left:780px;
margin-top:590px;
height:50px;
width:50px;
  z-index:1;
}
#gluelist {
position:fixed;
margin-left:900px;
margin-top:600px;
height:40px;
width:40px;
  z-index:1;
}
#fishingpolelist {
position:fixed;
height:80px;
width:80px; 
  margin-left:820px;
  margin-top:580px;
  z-index:1;
}
#footballhelmetlist {
  position:fixed;
  margin-left:960px;
  margin-top:585px;
  height:50px;
  width:50px;
  z-index:1;
}
.lvl2 {
  display:none;
}
/* END */
